.btn {
  height: 4rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;

  &--primary {
    background-color: $color-primary-light;
    color: $color-white;
    border: 0;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      border-radius: 0.5rem;
      z-index: 2;

      height: inherit;
      width: inherit;
      opacity: 0;
      transform: scale(1.4);
      transition: 0.3s ease;
      background-color: $color-primary-light;
    }

    &:hover::after {
      opacity: 1;
      z-index: -1;
      transform: scale(1);
    }
  }

  &--secondary {
    background-color: $color-secondary-light;
    color: white;
    border: 0;
    height: 3rem;
    width: 6rem;
    overflow: hidden;

    &:hover::after {
      transform: translate(8rem, -50%);
    }

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      z-index: 5;

      height: inherit;
      width: 0.5rem;
      transform: translate(-5rem, -50%);
      transition: 1s ease;
      background-color: rgba($color-grey-light-2, 0.5);
    }
  }
}

.stage-edit-btn {
  font-size: 2.3rem;
  margin-right: 1.5rem;
  color: $color-secondary-dark;
  cursor: pointer;
}

.stage-remove-btn {
  font-size: 2.3rem;
  color: red;
  cursor: pointer;
}

.task-edit-btn {
  font-size: 2rem;
  margin-right: 1.5rem;

  &.checked {
    color: $color-primary;
  }
}

.task-remove-btn {
  font-size: 2rem;
}
