.create-task {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  input {
    border-radius: 3px;
    border: 2px solid rgba($color-secondary-light, 0.5);
    height: 3rem;
    width: 80%;
    padding: 0.3rem 1rem;
    outline: 0;

    &:focus {
      border: 2px solid rgba($color-secondary-light, 1);
    }
  }
}
