.stages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 50rem;
}

.stage {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 2px solid $color-grey-dark;
  margin-top: 3rem;
  min-height: 8rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: $color-white;

  &__header {
    background-color: $color-grey-light-2;
    padding: 0.5rem 1rem;
    position: relative;
    height: 4rem;
    border-radius: 0.8rem 0.8rem 0 0;

    display: flex;

    &.completed {
      background-color: $color-primary;
    }

    h3 {
      font-size: $default-font-size;
    }

    &--buttons {
      display: flex;
      height: 3rem;
      width: 5rem;
      position: absolute;
      right: -2rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__edit {
      width: 85%;

      input {
        padding: 0.3rem;
      }
    }
  }

  &__tasks {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .stage {
    width: 90%;
  }
}
